#welcome
{
    background-color:black;
    text-align: center;
    color:white;
    margin-left: 30%;
    
}

button{
    font-size:30px;
}
#b{
    margin-left:10px;
}
#firebaseui-auth-container{
    background-color:white;
    margin-left:30%;
    text-align: center;
}